
.input-wrapper {
  margin-top:35px;
  background-color:white;
  width: 65%;
  border-radius: 10px;
  height: 2.5rem; 
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
  outline: none; 
}

input::placeholder {
  color: rgba(32, 28, 28, 0.25); 
}


.input-wrapper:focus-within {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0; 
}

