*{
  margin:0;
  padding:0;
  box-sizing: 'border-box';
  font-family:'Poppins',sans-serif;
  background-color: rgb(250, 249, 248);
}

/* App.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
}

/* Centered components */
.center {
  text-align: center;
}

/* Filter Container */
.filter-container {
  margin: 20px auto;
  text-align: center;
}

.filter-container select {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}


.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.result-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.result-card:hover {
  transform: scale(1.05);
}

.result-title {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.result-type,
.result-anagram-type,
.result-solution,
.result-sibling {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.result-solution span {
  font-weight: bold;
  color: #28a745;
}

.result-blocks ul {
  margin: 10px 0;
  padding-left: 20px;
}

.result-blocks ul li {
  font-size: 14px;
  line-height: 1.6;
}


.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button.active-page {
  background: #0056b3;
  font-weight: bold;
}

.pagination button:hover {
  background: #0056b3;
}
